<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rambot - Deteksi Rambut Panjang</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="/static/assets/img/rambotmini.png"
      type="image/x-icon"
    />

    <!-- Site font -->
    <link
      rel="stylesheet"
      href="/static/assets/fonts/webfonts/inter/stylesheet.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/fonts/webfonts/clash-grotesk/style.css"
    />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/static/css/vendors/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/static/css/vendors/jos.css" />
    <link rel="stylesheet" href="/static/css/vendors/menu.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/output.css" />

    <!-- Production css -->
    <!-- <link rel="stylesheet" href="//assets/css/style.min.css" /> -->
  </head>

  <body class="bg-[#F6F5EF]">
    <div class="page-wrapper">
      <!-- ...::: Header Section Start :::... -->
      <header
        class="section-header site-header is-white fixed top-0 z-30 w-full py-2"
      >
        <!-- Section Container -->
        <div class="container">
          <!-- Header Area -->
          <div class="flex items-center justify-between">
            <!-- Header Logo -->
            <a href="/" class="h-auto w-auto">
              <img
                src="/static/assets/img/rambot.png"
                alt="logo-black"
                width="121"
                height="24"
              />
            </a>
            <!-- Header Logo -->

            <!-- Header Navigation -->
            <div class="menu-block-wrapper">
              <div class="menu-overlay"></div>
              <nav class="menu-block" id="append-menu-header">
                <div class="mobile-menu-head">
                  <div class="go-back">
                    <img
                      src="/assets/img/icons/icon-caret-down.svg"
                      alt="icon-caret-down"
                      width="7"
                      height="4"
                    />
                  </div>
                  <div class="current-menu-title"></div>
                  <div class="mobile-menu-close">&times;</div>
                </div>
                <ul class="site-menu-main">
                  <li
                    class="nav-link-item drop-trigger text-colorDark rounded-none border border-transparent"
                  >
                    <a href="/" class="nav-link-item">Home</a>
                  </li>

                  <li
                    class="nav-link-item drop-trigger text-colorDark rounded-none border border-transparent"
                  >
                    <a href="/demo" class="nav-link-item">Detect</a>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- Header Navigation -->

            <!-- Header Right Block -->
            <div class="flex items-center gap-x-6">
              <a href="/about" class="btn-outline-black-2 hidden sm:inline-flex"
                >Meet the Minds</a
              >

              <!-- Responsive Offcanvas Menu Button -->
              <div class="block lg:hidden">
                <button id="openBtn" class="hamburger-menu mobile-menu-trigger">
                  <span
                    class="bg-colorGondola before:bg-colorGondola after:bg-colorGondola"
                  ></span>
                </button>
              </div>
            </div>
            <!-- Header Right Block -->
          </div>
          <!-- Header Area -->
        </div>
        <!-- Section Container -->
      </header>
      <!-- ...::: Header Section End :::... -->

      <!-- Main Wrapper Start -->
      <main class="main-wrapper" style="margin-top: 100px">
        <div class="text-center">
          <h1
            class="font-clashGrotesk text-4xl font-semibold text-[#1B1B1B] sm:text-5xl md:text-6xl xl:text-7xl xxl:text-[90px]"
          >
            Pastikan Hal Berikut!
          </h1>
          <!-- Feature List -->
          <ul
            class="grid grid-cols-1 items-start gap-x-6 gap-y-[30px] md:grid-cols-2 lg:grid-cols-3 xl:items-stretch"
            style="margin: 50px"
          >
            <!-- Feature Item -->
            <li
              class="jos flex gap-y-[30px] rounded-[5px] border-2 border-colorGondola bg-colorIvory p-6 odd:flex-col even:flex-col-reverse"
              data-jos_animation="flip-left"
            >
              <!-- Image Block -->
              <div class="flex justify-center">
                <img
                  src="/static/assets/img/remind1.png"
                  alt="feature-img-1"
                  width="237"
                  height="191"
                  class="max-w-full"
                />
              </div>
              <!-- Image Block -->

              <!-- Content Block -->
              <div>
                <h4
                  class="mb-4 font-clashGrotesk leading-[1.4] text-colorGondola"
                >
                  Wajah Lurus ke Kamera
                </h4>
                <p class="text-[#0C0C0C]">
                  Usahakan untuk tidak mendongak atau menunduk saat proses
                  pendeteksian.
                </p>
              </div>
              <!-- Content Block -->
            </li>
            <!-- Feature Item -->
            <!-- Feature Item -->
            <li
              class="jos flex gap-y-[30px] rounded-[5px] border-2 border-colorGondola bg-colorIvory p-6 odd:flex-col even:flex-col-reverse"
              data-jos_animation="flip-left"
            >
              <!-- Image Block -->
              <div class="flex justify-center">
                <img
                  src="/static/assets/img/remind2.png"
                  alt="feature-img-2"
                  width="210"
                  height="174"
                  class="max-w-full"
                />
              </div>
              <!-- Image Block -->

              <!-- Content Block -->
              <div>
                <h4
                  class="mb-4 font-clashGrotesk leading-[1.4] text-colorGondola"
                >
                  Cahaya Cukup
                </h4>
                <p class="text-[#0C0C0C]">
                  Pencahayaan yang baik diperlukan untuk mendapatkan hasil yang
                  lebih maksimal.
                </p>
              </div>
              <!-- Content Block -->
            </li>
            <!-- Feature Item -->
            <!-- Feature Item -->
            <li
              class="jos flex gap-y-[30px] rounded-[5px] border-2 border-colorGondola bg-colorIvory p-6 odd:flex-col even:flex-col-reverse"
              data-jos_animation="flip-left"
            >
              <!-- Image Block -->
              <div class="flex justify-center">
                <img
                  src="/static/assets/img/remind3.png"
                  alt="feature-img-3"
                  width="240"
                  height="174"
                  class="max-w-full"
                />
              </div>
              <!-- Image Block -->

              <!-- Content Block -->
              <div>
                <h4
                  class="mb-4 font-clashGrotesk leading-[1.4] text-colorGondola"
                >
                  Rapikan Rambut
                </h4>
                <p class="text-[#0C0C0C]">
                  Pastikan rambutmu rapi, tidak tertutup aksesoris kepala
                  apapun (topi, peci, bando, dst.).
                </p>
              </div>
              <!-- Content Block -->
            </li>
            <!-- Feature Item -->
          </ul>
          <!-- Feature List -->
        </div>

        <!-- ...::: Video Section Start :::... -->
        <div class="rounded-[5px] bg-colorRedOrange xxl:mx-[50px] py-10">
          <div class="section-video">
            <div class="mx-5 xxl:mx-[50px] my-20">
              <div class="jos relative z-10 flex items-center justify-center">
                <!-- Video Stream -->
                <img
                  src="{{ url_for('video_feed') }}"
                  alt="Video Stream"
                  class="w-96 object-cover"
                  style="border-radius: 10px"
                />
                <!-- Overlay Image -->
                <img
                  src="/static/assets/img/frame.png"
                  alt="Overlay Image"
                  class="absolute top-0 left-0 w-96 h-full object-cover"
                  style="top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 10px; opacity: 0.8; align-items: center;"
                />
              </div>
            </div>
          </div>
        </div>     
        <!-- ...::: Video Section End :::... -->
      </main>
      <!--  Main Wrapper End -->

      <!-- ...::: Footer Section Start :::... -->
      <footer class="section-footer">
        <div class="relative z-10">
          <!-- Footer Top -->
          <div class="section-space">
            <!-- Section Container -->
            <div class="container">
              <!-- Footer Top Area -->
              <div class="flex flex-wrap justify-between gap-y-10">
                <!-- Footer Widget - About -->
                <div class="max-w-full lg:max-w-[410px]">
                  <a href="/" class="h-auto max-w-full">
                    <img
                      src="/static/assets/img/rambot.png"
                      alt="logo-black"
                      width="121"
                      height="24"
                    />
                  </a>
                  <p
                    class="mt-[30px] text-lg leading-[1.43] text-colorGondola lg:text-[21px]"
                  >
                    Aplikasi cerdas untuk memastikan Anda selalu terlihat rapi!
                  </p>
                </div>
                <!-- Footer Widget - About -->

                <!-- Footer Widget - Nav -->
                <div>
                  <!-- Footer Widget Title -->
                  <span
                    class="mb-[30px] block text-lg font-semibold leading-[1.43] lg:text-[21px]"
                    >Navigation Links</span
                  >
                  <!-- Footer Widget Title -->

                  <div
                    class="flex flex-col gap-y-4 text-lg leading-[1.43] text-[#2c2c2c] lg:text-[21px]"
                  >
                    <a href="/" class="hover:text-colorRedOrange"
                      >Home</a
                    >
                    <a href="/demo" class="hover:text-colorRedOrange"
                      >Detect</a
                    >
                    <a href="/about" class="hover:text-colorRedOrange"
                      >Meet the Minds</a
                    >
                    </div>
                </div>
                <!-- Footer Widget - Nav -->

                <!-- Footer Widget - Nav -->
                <div>
                  <!-- Footer Widget Title -->
                  <span
                    class="mb-[30px] block text-lg font-semibold leading-[1.43] lg:text-[21px]"
                    >BAMBI</span
                  >

                <!-- Footer Widget - Newsletter -->
                <p
                    class="mt-[30px] text-lg leading-[1.43] text-colorGondola lg:text-[21px]"
                  >
                    Shout out to the Bambina! 
                  </p>
                <!-- Footer Widget - Newsletter -->
              </div>
              <!-- Footer Top Area -->
            </div>
            <!-- Section Container -->
          </div>
          <!-- Footer Top -->

          <!-- Horizontal Line -->
          <div class="horizontal-line bg-[#E6E6E6]"></div>
          <!-- Horizontal Line -->

          <!-- Footer Bottom -->
          <div class="py-[35px]">
            <!-- Section Container -->
            <div class="container">
              <div
                class="flex flex-col-reverse flex-wrap justify-center gap-x-[30px] gap-y-4 lg:flex-row lg:justify-between"
              >
                <!-- Copyright Text -->
                <div class="text-center text-colorGondola lg:text-start">
                  &copy; Copyright 2024, All Rights Reserved by Mthemeus
                </div>
                <!-- Copyright Text -->

                <!-- Social Link Item -->
                <div class="flex justify-center gap-3 lg:justify-normal">
                  <!-- Social Link Item -->
                  <a
                    href="http://www.instagram.com/ac.syahmi"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="group flex h-[50px] w-[50px] items-center justify-center rounded-[50%] bg-[#F6F5EF]"
                  >
                    <img
                      src="/static/assets/img/icons/icon-black-instagram.svg"
                      alt="icon-black-instagram"
                      width="26"
                      height="26"
                      class="opacity-100 transition-all duration-300 group-hover:opacity-0"
                    />
                    <img
                      src="/static/assets/img/icons/icon-orange-instagram.svg"
                      alt="icon-orange-instagram"
                      width="26"
                      height="26"
                      class="absolute opacity-0 transition-all duration-300 group-hover:opacity-100"
                    />
                  </a>
                  <!-- Social Link Item -->
                  <!-- Social Link Item -->
                  <a
                    href="http://www.instagram.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="group flex h-[50px] w-[50px] items-center justify-center rounded-[50%] bg-[#F6F5EF]"
                  >
                    <img
                      src="/static/assets/img/icons/icon-black-instagram.svg"
                      alt="icon-black-instagram"
                      width="26"
                      height="26"
                      class="opacity-100 transition-all duration-300 group-hover:opacity-0"
                    />
                    <img
                      src="/static/assets/img/icons/icon-orange-instagram.svg"
                      alt="icon-orange-instagram"
                      width="26"
                      height="26"
                      class="absolute opacity-0 transition-all duration-300 group-hover:opacity-100"
                    />
                  </a>
                  <!-- Social Link Item -->
                  <!-- Social Link Item -->
                  <a
                    href="http://www.instagram.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="group flex h-[50px] w-[50px] items-center justify-center rounded-[50%] bg-[#F6F5EF]"
                  >
                    <img
                      src="/static/assets/img/icons/icon-black-instagram.svg"
                      alt="icon-black-instagram"
                      width="26"
                      height="26"
                      class="opacity-100 transition-all duration-300 group-hover:opacity-0"
                    />
                    <img
                      src="/static/assets/img/icons/icon-orange-instagram.svg"
                      alt="icon-orange-instagram"
                      width="26"
                      height="26"
                      class="absolute opacity-0 transition-all duration-300 group-hover:opacity-100"
                    />
                  </a>
                  <!-- Social Link Item -->
                  <!-- Social Link Item -->
                  <a
                    href="http://www.instagram.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="group flex h-[50px] w-[50px] items-center justify-center rounded-[50%] bg-[#F6F5EF]"
                  >
                    <img
                      src="/static/assets/img/icons/icon-black-instagram.svg"
                      alt="icon-black-instagram"
                      width="26"
                      height="26"
                      class="opacity-100 transition-all duration-300 group-hover:opacity-0"
                    />
                    <img
                      src="/static/assets/img/icons/icon-orange-instagram.svg"
                      alt="icon-orange-instagram"
                      width="26"
                      height="26"
                      class="absolute opacity-0 transition-all duration-300 group-hover:opacity-100"
                    />
                  </a>
                  <!-- Social Link Item -->
                  <!-- Social Link Item -->
                  <a
                    href="http://www.instagram.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="group flex h-[50px] w-[50px] items-center justify-center rounded-[50%] bg-[#F6F5EF]"
                  >
                    <img
                      src="/static/assets/img/icons/icon-black-instagram.svg"
                      alt="icon-black-instagram"
                      width="26"
                      height="26"
                      class="opacity-100 transition-all duration-300 group-hover:opacity-0"
                    />
                    <img
                      src="/static/assets/img/icons/icon-orange-instagram.svg"
                      alt="icon-orange-instagram"
                      width="26"
                      height="26"
                      class="absolute opacity-0 transition-all duration-300 group-hover:opacity-100"
                    />
                  </a>
                  <!-- Social Link Item -->
                </div>
                <!-- Social Link Item -->
              </div>
            </div>
            <!-- Section Container -->
          </div>
          <!-- Footer Bottom -->

        </div>
      </footer>
      <!-- ...::: Footer Section End :::... -->
    </div>

    <!--Vendor js-->
    <script src="/static/assets/js/vendors/counterup.js" type="module"></script>
    <script src="/static/assets/js/vendors/swiper-bundle.min.js"></script>
    <script src="/static/assets/js/vendors/fslightbox.js"></script>
    <script src="/static/assets/js/vendors/jos.min.js"></script>
    <script src="/static/assets/js/vendors/menu.js"></script>

    <!-- Main js -->
    <script src="/static/assets/js/main.js"></script>
  </body>
</html>
